/* FONTS
=======================  */

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* COMMON
===================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    display: block;
}

.body {
    max-width: 1660px;
    margin: 0 auto;
}

body {
    font-family: "OpenSans", sans-serif;
    background-color: #ffffff;
}


.container {
    margin: 0;
}


/* HEADER
========================*/
.menu__list {
    list-style: none;
}

.menu__name a {
    display: none;
}

.header {
    position: relative;
    width: 100%;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 30px;

    background-image: url("/img/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #999999;
}

.overlay::after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.6);

    pointer-events: none;

}

.header__container {
    position: relative;
    z-index: 1;
    width: 100%;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__burger {
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    z-index: 2;

    position: relative;
    align-self: end;
    margin: 0 0 auto auto;
}

.menu__burger::before,
.menu__burger::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
}

.menu__burger::before {
    top: -8px;
}

.menu__burger::after {
    bottom: -8px;
}

.header__logo {
    width: 269px;
    height: 61px;
    margin-bottom: 43px;
}

.header__intro {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.625rem;
    margin: 0;
}

/* POPUP
============================== */

#no-margin {
    margin-top: 0;
}

.checkbox-popup {
    display: none;
}

.checkbox-popup:checked+.popup {
    display: flex;
}

.popup__close {
    position: absolute;
    right: 0;
    top: -30px;
}

.close-icone {
    width: 30px;
    height: 30px;
}

.popup {
    position: fixed;

    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 3;
}

.popup__content {
    position: relative;
    background-color: #ffffff;

    width: 100%;
    max-width: 360px;
    min-height: 550px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    flex: 1;
}

.popup__questions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex: 1;
}

.days {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;

    width: 100%;
    position: relative;
}

.question {
    display: block;

    color: black;
    text-align: start;
    font-size: 0.8125rem;
    line-height: 1;
    font-weight: 400;
}

.mailing {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.visit {
    width: 100%;
    height: 50px;
    background-color: #f4f7f6;
    border: none;

    padding: 0 40px 0 15px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-size: 0.875rem;
}

.days::after {
    content: "";
    position: absolute;

    background-image: url('/svg/form-arrows.svg');
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position: center;

    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    width: 20px;
    height: 20px;
}

.select {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.yes,
.no {
    display: block;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: start;
    font-size: 0.75rem;
    line-height: 1;
}

#no,
#yes {
    display: none;
}

.select__yes,
.select__no {
    display: flex;
    align-items: center;
}

.radio__selected-img,
.radio__empty-img {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.radio__selected-img {
    display: none;
}

#yes:checked+.radio__selected-img {
    display: block;
}

#yes:checked~.radio__empty-img {
    display: none;
}

#no:checked+.radio__selected-img {
    display: block;
}

#no:checked~.radio__empty-img {
    display: none;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feedback__text {
    width: 100%;
    min-height: 150px;

    outline: none;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
    padding-top: 10px;
}

.feedback__button {
    height: 50px;

    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    line-height: 2.5rem;

    margin-top: 20px;

    background-color: #b59f5b;

    border: none;
}

/* TREANDS
================================= */

.trends {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.titles {
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 45px;
}

.titles::after {
    content: "";
    width: 70px;
    height: 4px;
    opacity: 0.400;
    background-color: #b59f5b;

    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.trend {
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
}

.trends__container {
    display: flex;
    flex-direction: column;
}

.trend__content {
    position: absolute;
    bottom: 15px;

    width: calc(100% - 30px);
    max-width: 330px;
    height: 127px;

    padding: 30px 22px 0;

    z-index: 1;

    border: 3px solid #b59f5b;
}

.trend__tags,
.card__tags {
    display: flex;
    gap: 15px;
}

.trend__tag {
    line-height: 2.325rem;
}

.card__tag {
    line-height: 2.5rem;
}

.tag {
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 8px;
}

.tag:hover {
    text-decoration: underline;
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* text-shadow: 
    1px 1px 0px #000,
    2px 2px 0px #000,
    3px 3px 0px #000; */
}

.trend__title,
.card__title {
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: start;
    font-size: 1rem;
    line-height: 1.25rem;

    margin: 0;
}

.trend::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.600;
    background-color: #000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Post List
============================ */

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 20px;
}

.posts__card {
    width: 100%;

    margin-top: 35px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts__card::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 21px;

    display: block;
}

.card__content {
    margin-top: 15px;
    margin-bottom: 0;
}

.card__title {
    color: rgb(0, 0, 0);
}

.card__date,
.post-content__date {
    font-size: 0.75rem;
    line-height: 2.5rem;
    color: #888888;
}

.card__author {
    font-size: 0.75rem;
    line-height: 2.5rem;
    color: #000000;
    font-weight: bold;
}

.card__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #0f0d0e;
}

.card__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    background-color: #eff6f1;
    background-position: center center;
    background-size: cover;
}

/* SIDE BAR
=========================== */

.aside {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.aside__latest-posts {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aside__post {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
}

.post-content__title {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.post-content__date {
    display: block;
    margin: 0;
    line-height: 1;
}

.aside-img {
    max-width: 70px;
    max-height: 70px;
    object-fit: cover;
}


/* SEARCH
============================ */

.search {
    width: 100%;
    display: flex;
    margin: 40px 0 0 0;
}

.search__line {
    height: 50px;
    outline: none;
    flex-grow: 7;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
}

.search__button {
    min-width: 50px;
    flex-grow: 1;
    background-image: url(/svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-color: #b59f5b;
    background-position: center center;
    border: none;
}


/* Subscribe
================================= */

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribe__email-line {
    height: 50px;
    outline: none;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
}

.subscribe__button {
    height: 50px;

    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: start;
    font-size: 0.75rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;

    background-color: #b59f5b;

    border: none;
}

/* UL_TAGS
============================ */

.tags__ul {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-inline-start: 0;

    gap: 5px;

}

.tags__item {
    display: flex;

    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: start;
    font-size: 0.75rem;
    line-height: 2.5rem;
    text-align: center;

    border: 3px solid #eeeeee;

    list-style: none;
    padding: 0 10px;
}

.tags__name:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* CATEGORIES
=========================== */

.categories {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.categories__content {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
}

.categories__name {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 2.25rem;
    color: #000000;
    border-bottom: 1px solid #eeeeee;
}

.sup-name {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 2.9375rem;
    color: #b59f5b;
}

/* SHOP
================================== */


.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 20px;
}

.shop__card {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: -20px;
}

.shop__card-img {

    padding: 20px;
    padding-top: 0;

}

.shop__title {
    display: block;
    object-view-box: ;
}

.shop__title::after {
    margin-bottom: 45px;
}

.shop__card-info {

    padding: 20px;
    border: 3px solid #b59f5b;
    padding-top: 50px;

    position: relative;

    top: -50px
}

.shop__card-title {
    display: block;
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 1.325rem;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.shop-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.old-price {
    display: block;
    text-decoration: line-through;

    font-size: 0.875rem;
    line-height: 1.5rem;
}

.new-price {
    display: block;

    font-size: 1.25rem;
    line-height: 1.5rem;
}

.shop__description {
    font-size: 0.9375rem;
    line-height: 1.375rem;
}

.shop__card-link {
    color: #b59f5b;
}

.not-underlined {
    text-decoration: none;
}

.shop__description:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.shop__card-button {
    width: 50%;
    height: 50px;

    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: start;
    font-size: 0.875rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;

    background-color: #b59f5b;

    border: none;
}

/* FOOTER
========================= */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 30px;
}

.container {
    width: 100%;
    margin: 0;
}

.footer__socials {
    width: 100%;

    height: 83px;
    margin: 0 auto;

    background-color: #f4f7f6;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dribble-logo {
    width: 20px;
    height: 20px;
}

.pinterest-logo {
    width: 16px;
    height: 20px;
}

.tumblr-logo {
    width: 13px;
    height: 20px;
}

.footer__copyright {
    font-weight: 700;
    color: #999999;
    font-size: 0.75rem;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

/* ===============================================
===============================================
================================================ */
@media (min-width: 640px) {
    .header {
        background-image: url("/img/banner-bg-tablet.jpg");
    }
}

@media (max-height: 360px) {

    .popup__content {
        padding-bottom: 0;
    }

    .popup__content {
        max-width: none;
        width: 100%;

        min-height: 360px;
        max-height: 100vh;
    }

    .feedback__text {
        min-height: auto;
    }

    .popup__questions {
        gap: 5px;
    }

    .mailing {
        flex-grow: 0;
    }

    .days {
        flex-grow: 0;
    }
}

/* ==============================================
===============================================
================================================ */

@media (min-width: 768px) {
    /* tablet */

    .header {
        position: relative;

        min-height: 100%;

        background-image: url("/img/banner-bg-tablet.jpg");
    }

    .header__container {
        min-height: 60vh;
    }

    .header__logo {
        margin-right: auto;
        margin-bottom: auto;
    }

    .header__intro {
        font-size: 2.5rem;
        line-height: 3.4375rem;

        margin-bottom: auto;
    }

    .trends__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 5px;
    }

    .main-aside {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    .card__text {
        font-size: 0.9375rem;
        line-height: 1.375rem;
    }

    .tags__name {
        padding: 0 3%;
    }

    .shop__content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 2%;
    }

    .shop__card-info {
        min-height: 270px;
    }
}


@media (min-width: 1024px) {
    /* desktop */

    .menu__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-self: center;
        justify-content: end;

        gap: 30px;
    }

    .menu__name a {
        position: relative;
        display: flex;

        font-weight: 400;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.9375rem;
        line-height: 1.375rem;

        z-index: 2;
    }

    .menu__burger {
        display: none;
    }

    .header {
        background-image: url("/img/banner-bg.jpg");
        padding-inline: 14%;
    }

    .header__container {
        min-height: 20vh;
    }

    .titles {
        font-size: 1.25rem;
    }

    .trends__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .trend__content {

        padding: 15px 20px 0;

    }

    .main-aside {
        padding-inline: 14%;
    }

    .posts__card::after {
        display: none;
        ;
    }

    .posts__card {
        display: grid;
        grid-template-columns: 1fr 1fr;

        height: 100%;
        margin-top: 0;

        gap: 20px;
    }

    .shop__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 2%;
    }

    .shop {
        padding-inline: 14%;
    }

    .footer {
        padding-inline: 14%;
    }

}