/* FONTS
=======================  */

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* COMMON
===================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2 {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: "OpenSans", sans-serif;
    background-color: #ffffff;
}


.container {
    width: 100%;
    margin: 0;
}


/* HEADER
========================*/

.header {
    position: relative;

    min-height: 640px;

    background-image: url("/img/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #999999;
}

.header::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.600;
    background-color: #000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header__content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 225px;
    padding-inline: 34px;
}

.menu {
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    top: -186px;
    left: 152px;

    position: relative;
}

.menu::before,
.menu::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 4px;
    background-color: #ffffff;
}

.menu::before {
    top: -8px;
}

.menu::after {
    bottom: -8px;
}

.header__logo {
    width: 269px;
    height: 61px;
    margin-bottom: 43px;

}

.header__intro {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.625rem;
    margin: 0;
}

/* TREANDS
================================= */

.trends {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.titles {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 45px;
}

.trends__title::after {
    content: "";
    width: 67px;
    height: 4px;
    opacity: 0.400;
    background-color: #b59f5b;


    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.trend {
    position: relative;
    display: flex;
    justify-content: center;
}

.trend__content {
    box-sizing: border-box;

    position: absolute;
    bottom: 15px;

    width: 330px;
    height: 127px;

    padding: 30px 22px 0;

    z-index: 1;

    border: 3px solid #b59f5b;
}

.trend__tag,
.card__tag {
    display: flex;
    gap: 15px;
}

.tag {
    /* display: inline-block; */
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 8px;


}

.tag:hover {
    text-decoration: underline;
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* text-shadow: 
    1px 1px 0px #000,
    2px 2px 0px #000,
    3px 3px 0px #000; */
}

.trend__title,
.card__title {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: start;
    font-size: 1rem;
    line-height: 1.25rem;

    margin: 0;
}

.trend::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.600;
    background-color: #000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Post List
============================ */

.posts {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 20px 0 20px;
}

.posts__card {
    box-sizing: border-box;
    margin-top: 35px;
    background-color: white;
}

.posts__card::after {
    content: "";
    width: 330px;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 21px;

    display: block;
}

.card__content {
    margin-top: 15px;
    margin-bottom: 0;
}

.card__title {
    color: rgb(0, 0, 0);
}

.card-date {
    font-family: 'OpenSans', sans-serif;
    font-size: 0.75rem;
    line-height: 2.5rem;
    color: #888888;
}

.card-author {
    font-family: 'OpenSans', sans-serif;
    font-size: 0.75rem;
    line-height: 2.5rem;
    color: #000000;
    font-weight: bold;
}

.card__article {
    max-width: 330px;
    min-height: 53px;
    text-align: justify;
}

.article-text {
    font-family: 'OpenSans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #0f0d0e;

}

/* SIDE BAR
=========================== */

.latest-posts {
    position: relative;
}

.card-title {
    width: 120px;
    height: 12px;
    position: absolute;
    left: 120px;
}

.new-posts {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";

}

/* FOOTER
========================= */

.footer__socials {
    width: 330px;
    height: 83px;
    margin: 0 auto;

    background-color: #f4f7f6;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dribble-logo {
    width: 20px;
    height: 20px;
}

.pinterest-logo {
    width: 16px;
    height: 20px;
}

.tumblr-logo {
    width: 13px;
    height: 20px;
}

.footer__copyright {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: #999999;
    font-size: 0.75rem;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}


@media (min-width: 768px) {
    /* tablet */
}


@media (min-width: 1024px) {
    /* desktop */
}